/*fonts*/

$fontfamily: "Arial";
/*
.your-style {
	font-family: 'Arial';
	font-weight: normal;
	font-style: normal;
}
.your-style {
   font-family: 'Georgia';
   font-weight: normal;
   font-style: normal;
}
*/
