<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width,initial-scale=1">
   <link rel="shortcut icon" href="/src/img/icons/leafs.svg" type="image/x-icon">
   <link rel="stylesheet" href="src/css/style.css">
   <title>Plants</title> <!--! -->
</head>

<body>
   <div class="wrapper">
      <header class="header">
         <div class="header__container">
            <a class="header__link" href="http://"><img src="/src/img/logo/logo_vector.png" alt="leafs">Plants</a>
            <div class="header__menu menu">
               <nav class="menu__body">
                  <ul class="menu__list">
                     <li class="menu__item"><a href="" class="menu__link">Home</a></li>
                     <li class="menu__item"><a href="" class="menu__link">About us</a></li>
                     <li class="menu__item"><a href="" class="menu__link">Service</a></li>
                     <li class="menu__item"><a href="" class="menu__link">Price</a></li>
                     <li class="menu__item"><a href="" class="menu__link">Contacts</a></li>
                  </ul>
               </nav>
            </div>
         </div>
      </header>
      <!-- !Main -->
      <main class="main">
         <!--! PLANTS -->
         <section class="plants">
            <div class="plants-img">
               <img src="/src/img/back/leafs.png" alt="leafs">
            </div>
            <div class="plants-content">
               <h1>We grow <span>plants</span> and give you oxygen</h1>
               <div class="plants-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                  Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
               <button class="plants-button button">learn more</button>
            </div>
         </section>
         <!--! GARDENERS -->
         <section class="gardeners">
            <div class="gardeners-content">
               <h2>We are <span>professional experienced</span> gardeners</h2>
               <div class="gardeners-text">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                  into electronic typesetting, remaining essentially unchanged.
               </div>
            </div>
            <div class="gardeners-img">
               <img src="/src/img/gallery/monstera.png" alt="monstera">
            </div>
         </section>
         <!--! PROJECTS -->
         <section class="projects">
            <div class="projects__content">
               <h2>Service and our projects</h2>
               <div class="projects__buttons">
                  <ul class="projects__links">
                     <li class="projects-items"><button class="projects-link button" href="http://">Gardens</button>
                     </li>
                     <li class="projects-items"><button class="projects-link button" href="http://">Lawn</button></li>
                     <li class="projects-items"><button class="projects-link button" href="http://">Planting</button>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="projects__gallerey">
               <div class="projects__card">
                  <img src="/src/img/gallery/garden.png" alt="aloe">
                  <h3>Garden care</h3>
                  <div class="projects__text">
                     Lorem Ipsum has been the industry
                  </div>
               </div>
               <div class="projects__card">
                  <img src="/src/img/gallery/lemon.png" alt="lemon">
                  <h3>Planting</h3>
                  <div class="projects__text">
                     Lorem Ipsum has been the industry
                  </div>
               </div>
               <div class="projects__card">
                  <img src="/src/img/gallery/sprayer.png" alt="sprayer">
                  <h3>Lawn care</h3>
                  <div class="projects__text">
                     Lorem Ipsum has been the industry
                  </div>
               </div>
               <div class="projects__card">
                  <img src="/src/img/gallery/rosa.png" alt="rosa">
                  <h3>Planting</h3>
                  <div class="projects__text">
                     Lorem Ipsum has been the industry
                  </div>
               </div>
               <div class="projects__card">
                  <img src="/src/img/gallery/succulentus.png" alt="succulentus">
                  <h3>Garden care</h3>
                  <div class="projects__text">
                     Lorem Ipsum has been the industry
                  </div>
               </div>
               <div class="projects__card">
                  <img src="/src/img/gallery/cactus.png" alt="cactus">
                  <h3>Planting</h3>
                  <div class="projects__text">
                     Lorem Ipsum has been the industry
                  </div>
               </div>
            </div>
         </section>
         <!-- ! Prices -->
         <section class="prices">
            <div class="prices__menu">
               <h2>Prices</h2>
               <ul class="prices__list">
                  <li class="prices-item">Basics</li>
                  <li class="prices-item">Standard</li>
                  <li class="prices-item">Pro care</li>
               </ul>
            </div>
            <div class="prices__contact">
               <div class="prices__text">Our best <span>gardeners</span> are ready to help you</div>
               <button class="prices__button button">Contact us</button>
               <img src="/src/img/back/leafs.png" alt="leafs">
            </div>
         </section>
         <!-- !Contact us -->
      </main>
      <!-- !FOOTER -->
      <footer class="footer">
         <div class="footer__container">
            <a href="" class="footer-link">© 2022 github</a>
            <a href="" class="footer-link">Rolling Scopes School</a>
            <ul class="footer__list">
               <li class="footer-item"><a href="https://instagram.com/"><img src="/src/img/icons/inst1.png" alt="instagramm"></a></li>
               <li class="footer-item"><a href="https://facebook.com/"><img src="/src/img/icons/fb1.png" alt="facebook"></a></li>
               <li class="footer-item"><a href="https://twitter.com/"><img src="/src/img/icons/tw1.png" alt="twitter"></a></li>
               <li class="footer-item"><a href="https://pinterest.com/"><img src="/src/img/icons/pinterest1.png" alt="pinterest"></a></li>
            </ul>
         </div>
      </footer>
   </div>
   <script type="module" src="src/js/script.js"></script>
</body>

</html>